* {
    box-sizing: border-box;
    margin: 0;
}

header {
    padding: 1em .5em;
    display: flex;
    background: #02b3e4;
    color: #fff;
    border-bottom: 3px solid #7d97ad;
    text-transform: uppercase;
    font-family: sans-serif;
}

.logo {
    width: 50%;
}

#logo {
    margin: 1em 0;
}

.name {
    text-align: right;
    width: 50%;
}

.hero {
    background: url("https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&h=350");
    height: 45vh;
    margin: 2vh 0;
    width: 100%;
}

.featured-work h2 {
    text-transform: capitalize;
    color: #7d97ad;
    font-family: sans-serif;
    margin: 1em;
}

.work {
    margin: .5em;
    border-radius: 3px;
    padding-bottom: .5em;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(102, 98, 102, .5);
    -moz-box-shadow: 0px 2px 5px 2px rgba(102, 98, 102, .5);
    box-shadow: 0px 2px 5px 2px rgba(102, 98, 102, .5);
}

.work img {
    margin-bottom: 2vh 0;
    width: 100%;
}

.work h1 {
    color: #02b3e4;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.work p {
    text-align: center;
}

.work a {
    color: black;
    letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
}

@media screen and (min-width: 700px) {
    .container {
        margin: 0 1em;
    }
    #work {
        display: flex;
    }
    .work {
        border-radius: 3px;
        width: 33.333333%;
        margin: .25em;
        padding: .25em;
    }
    .work img {
        height: 20vh;
    }
}

@media screen and (min-width: 950px) {
    .container {
        margin: 0 3em 1em 3em;
    }
    .work {
        margin: .6em;
    }
    .work img {
        height: 30vh;
    }
}

@media screen and (min-width: 1100px) {
    .work {
        margin: 1em;
    }
    .work img {
        height: 40vh;
    }
}
