*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(2, 179, 228, .01);
}


/* global styles */

img {
    max-width: 100%;
    height: auto;
}

.text-item {
    font-size: 5vw;
}

.text-hdr {
    font-size: 7vw;
}


/* end global */

header {
    background: #02b3e4;
    color: #fff;
    border-bottom: 3px solid #7d97ad;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    padding: .5em 0;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
}

.header-info h2 {
    padding: .333em;
    letter-spacing: 7px;
}

.header-info p {
    letter-spacing: 3px;
}

.name {
    text-align: right;
    width: 50%;
}

.hero {
    background-image: url("../images/hero-code-bg.jpeg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-goals {
    background-color: #000;
    background-color: rgba(2, 179, 228, .5);
    min-width: 100%;
    height: auto;
    color: #fff;
    padding: 14vw 7vw;
    text-align: center;
}

.hero-goals h2 {
    margin-bottom: 5%;
}

.featured-work {
    padding: 0 2vw;
}

.featured-work h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #7d97ad;
    font-family: sans-serif;
    margin: 1em 0;
}

.work {
    margin: .5em;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 0.375rem;
    transition: all 0.5s ease;
    padding-bottom: .5em;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(102, 98, 102, .5);
    -moz-box-shadow: 0px 2px 5px 2px rgba(102, 98, 102, .5);
    box-shadow: 0px 2px 5px 2px rgba(102, 98, 102, .5);
}

.work p,
a {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #02b3e4;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
}


/* media queries */

@media screen and (min-width: 480px) {
    .text-item {
        font-size: 4vw;
    }
    .text-hdr {
        font-size: 6vw;
    }
    header {
        margin: 0;
        padding: 4vw;
        display: flex;
        text-align: right;
    }
    .header-logo {
        margin: auto 0;
        width: 40%;
    }
    .header-info {
        width: 60%;
    }
    .header-info h2 {
        padding: 0;
        letter-spacing: 5px;
    }
    .header-info p {
        letter-spacing: 2px;
    }
    .work img {
        width: 100%;
    }
    .hero-goals {
        padding: 14vw 14vw;
    }
}

@media screen and (min-width: 720px) {
    .text-item {
        font-size: 3vw;
    }
    .text-hdr {
        font-size: 5vw;
    }
    .work-container {
        margin: 0 auto;
        display: flex;
    }
}

@media screen and (min-width: 950px) {
    .text-item {
        font-size: 2vw;
    }
    .text-hdr {
        font-size: 4vw;
    }
    .hero-goals {
        padding: 14vw 16vw;
    }
}

@media screen and (min-width: 1100px) {
    .header-logo {
        max-width: 700px;
    }
    .header-info {
        max-width: 700px;
    }
    .hero-goals {
        padding: 14vw 20vw;
    }
    .work-container {
        max-width: 1300px;
    }
}